* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/**
 *  General Configs
**/
a {
    color: blue;
    width: fit-content;
}

h4 {
    margin: 8px 0 4px;
}

input {
    padding: 4px;
    outline: none;
    margin-bottom: 8px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
    padding: 4px 6px;
}

button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px rgb(221, 221, 221);
}

input, button {
    border-radius: 4px;
    border: 1px solid #ccc;
}

code {
    width: 500px;
    padding: 6px 3px;
    margin: 10px 8px;
    text-align: center;
    line-height: 23px;
    overflow-wrap: break-word;
    background-color: #ffffff;
}

.italic-text {
    font-style: italic;
}

.bold-text {
    font-weight: bolder;
}

.center-col-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.355);
}

main {
    margin: 14px 25px;
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
}

main > * {
    margin: 6px 0;
}

.credit {
    font-size: 12px;
}

/* 
 *  URL Shortener
*/
.note-sec {
    text-align: center
}

/* 
 *  Exercise Tracker
*/
.tracker-main > section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title title"
    "form usage";
}

section > h3 {
    text-align: center;
    grid-area: title;
}

.create-user, .create-exercise, .exercise-logs {
    padding: 16px;
    grid-area: form;
}

.usage-sec {
    padding: 16px;
    min-height: 187px;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: usage;
}

.usage-sec > p {
    margin: 4px 0;
}

.notes-list {
    max-width: 500px;
    list-style: none;
    text-align: left;
    margin: 8px;
}

/* 
 *  File Metadata
*/
.upload-file {
    padding: 6px;
}

.upload-input {
    cursor: pointer;
}

.upload-input::-webkit-file-upload-button {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.upload-input::-webkit-file-upload-button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px rgb(221, 221, 221);
}

@media (max-width: 780px) {
    code {
        width: 350px;
    }
}

@media (max-width: 660px) {
    .tracker-main > section {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 460px) {
    code {
        width: 250px;
    }
    .upload-input {
        width: 200px;
    }
}